---
import DefaultLayout from "~/layouts/DefaultLayout.astro";
---

<DefaultLayout title="Page not found">
    <div class="prose text-center mx-auto">
        <h1 class="h1">Page not found!</h1>
        <p>The page you are looking for couldn't be found. It may have been moved or deleted. If you are sure it exists, please check you have entered the correct URL.<br>Thank you for understanding.</p>
        <a href="/" class="button items-center">Back to homepage <span class="i-feather-arrow-right ml--6 inline-block w-base align-middle"/></a>
    </div>
</DefaultLayout>
