---
import DefaultLayout from "~/layouts/DefaultLayout.astro";
import { getCollection } from "astro:content";
import Card from "~/components/Card.astro";

const articles = await getCollection("articles")
    .catch(e => []);
const cards = articles
    .filter(article => article.data.category == "blog")
    .map(({slug, data}) => ({
        ...data,
        formattedDate: new Intl.DateTimeFormat().format(new Date(data.date)),
        slug,
        full_slug: "/articles/" + slug
    }))

---

<DefaultLayout title="Blog">
    <div class="prose">
        <h1 class="mb-0">Writing</h1>
        <p>Occasionally I feel like writing a paragraph or two, usually relating to something I have learned recently. This page is where I will do that.</p>
    </div>
    <picture>
        <source media="(prefers-color-scheme: dark)" srcset="/fish-light.png">
        <img src="/fish-dark.png" alt="" width="42" class="mx-auto my--1">
    </picture>
    {
        cards.length == 0 ?
            (<span class="font-jost text-2xl text-center my-5 block">Nothing here yet!</span>)
        : <ol class="grid gap--1 md:grid-cols-2">
            {cards.map(({title, full_slug, abstract, formattedDate}) =>
            <li>
                <Card title={title} leftView>
                    {abstract && <p class="font-zen mb--1">{abstract}</p>}
                    <footer class="flex items-end" slot="footer">
                        <span class="block mr-auto text--2">Published {formattedDate}</span>
                        <a href={full_slug} class="button ml-auto">Read <span
                                class="i-feather-arrow-right inline-block align-middle"></span></a>
                    </footer>
                </Card>
            </li>)}
        </ol>
    }
</DefaultLayout>
