<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<meta name="generator" content={Astro.generator} />
		<title>Netlify CMS</title>
	</head>
	<body class="font-zen dark:bg-#333 dark:text-white">
        <script>
            import CMS from "netlify-cms-app";
        
            CMS.init({
                config: {
                    backend: {
                        name: "github",
                        repo: "eyrewiut/portfolio",
                        branch: "master"
                    },
                    media_folder: "public/media",
                    public_folder: "/media",
                    collections: [
                        {
                            name: "article",
                            label: "Article",
                            folder: "src/pages/articles",
                            create: true,
                            fields: [
                                { name: "layout", widget: "hidden", default: "Layout", },
                                {
                                    name: "title",
                                    widget: "string",
                                },
                                { 
                                    name: "thumbnail", 
                                    widget: "image", 
                                    required: false, 
                                    allow_multiple: false
                                },
                                { name: "author", widget: "string", default: "George Newton" },
                                { 
                                    name: "abstract",
                                    widget: "text",
                                },
                                {
                                    name: "body",
                                    widget: "markdown",
                                },
                                {
                                    name: "category",
                                    widget: "select",
                                    options: ["blog", "portfolio"],
                                    default: "blog"
                                },
                                {
                                    name: "date",
                                    widget: "datetime",
                                    time_format: false,
                                    date_format: "DD-MM-YYYY"
                                },
                            ]
                        },
                    ]
                }
            });
        </script>
	</body>
</html>
